<h2>
    - Timer -
    <br>
    <span id="subtitle"> (Container - Presenter architecture) </span>
</h2>

<div id="timer-controlls">
    <div (click)="hUp()" class="controlls up"></div>
    <div (click)="mUp()" class="controlls up"></div>
    <div (click)="sUp()" class="controlls up"></div>    
</div>

<h3>{{ h | pad:2 }}:{{ m | pad:2 }}:{{ s | pad:2 }}</h3>

<div id="timer-controlls">
    <div (click)="hDown()" class="controlls down"></div>
    <div (click)="mDown()" class="controlls down"></div>
    <div (click)="sDown()" class="controlls down"></div>    
</div>

<button [disabled]="disable" (click)="run()">Start</button>
