<nav [class.unhide__nav]="hoverEvent" (mouseenter)="showNavMenu()" (mouseleave)="hideNavMenu()">
    <div id="square__container">
        <div [class.unhide__square]="hoverEvent" id="square">
            <div [class.colorIt]="hoverEvent"></div>
            <div [class.colorIt]="hoverEvent"></div>
            <div [class.colorIt]="hoverEvent"></div>
        </div>
    </div>

    <div id="hidden__list">
        <span></span>        
        <span>TIME</span>
        <span>ITEM02</span>
        <span>ITEM03</span>
        <span>ITEM04</span>
        <span>ITEM05</span>
    </div>
</nav>