<div id="square__ghost" (mouseenter)="showNavMenu()"></div>
<nav [class.unhide__nav]="hoverEvent" (mouseleave)="hideNavMenu()">
    <div id="square__container">
        <div [class.unhide__square]="hoverEvent" id="square">
            <div [class.colorIt]="hoverEvent"></div>
            <div [class.colorIt]="hoverEvent"></div>
            <div [class.colorIt]="hoverEvent"></div>
        </div>
    </div>

    <div id="hidden__list">
        <div></div>        
        <div [class.unhide__item]="hoverEvent" id="item__01">TIME</div>
        <div [class.unhide__item]="hoverEvent" id="item__02">ITEM02</div>
        <div [class.unhide__item]="hoverEvent" id="item__03">ITEM03</div>
        <div [class.unhide__item]="hoverEvent" id="item__04">ITEM04</div>
        <div [class.unhide__item]="hoverEvent" id="item__05">ITEM05</div>
    </div>
</nav>