#square__ghost
    position: absolute
    top: 10px
    left: 10px
    display: flex
    flex-direction: column

    height: 58px
    width: 58px

nav
    position: fixed
    left: -29.5%
    height: 100vh
    width: 35%
    background-color: transparent
    z-index: -1 
    transition: left 0.7s, background-color 1s

    #square
        position: absolute
        top: 5px
        right: 2px
        display: flex
        flex-direction: column

        height: 10%
        width: 15%

        background-color: transparent
        opacity: 0.2
        transition: opacity 1s

        div
            margin: auto
            width: 80%
            min-width: 47px
            height: 10%
            border-radius: 30px

            background-color: black




#hidden__list
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 80%

    div
        flex: 1
        margin-left: 20%
        text-align: left
        font-size: large
        letter-spacing: 3px
        color: white
        opacity: 0
        transition-property: opacity, margin-left
        transition-duration: 1s, 0.4s

#item__01
    transition-delay: 0.2s
#item__02
    transition-delay: 0.3s    
#item__03
    transition-delay: 0.4s
#item__04
    transition-delay: 0.5s    
#item__05
    transition-delay: 0.6s    






@media screen and (max-width: 992px)
    nav 
        width: 65%
        left: -54%


@media screen and (max-width: 600px)
  nav 
    width: 80%
    left: -67%













.unhide__nav
    left: 0%
    background-color: black    
    z-index: 2

nav #square__container .unhide__square
    opacity: 1

nav #square div.colorIt
    background-color: white    

nav #hidden__list div.unhide__item
    opacity: 1
    margin-left: 30%
    